{{#with item}}
<!-- Details Page -->
<section id="catalog-section">

    <h1 class="item">
        {{title}}

        {{#if isOwner}}
        <div class="f-right">
            <a class="action pad-small f-left" href="/catalog/{{_id}}/edit">Edit</a>
            <a class="action pad-small f-left" href="/catalog/{{_id}}/delete">Delete</a>
        </div>
        {{/if}}
    </h1>
    <div class="item padded">

        <div class="layout right large">

            <div class="col">
                <img src="{{image}}" class="img-large">
            </div>

            <div class="content pad-med">

                <p>In category: <strong>{{categoryName}}</strong></p>
                <p>{{description}}</p>

                <div class="align-center">
                    <div>
                        Current price: $<strong>{{price}}</strong>
                    </div>

                    {{#if ../hasUser}}

                    {{#if isOwner}}
                    <div>
                        {{#if isBidded}}
                        <!-- If there is a bidder -->
                        Bid by <strong>{{bidder.firstName}} {{bidder.lastName}}</strong>
                        <a class="action pad-med cta" href="/catalog/{{_id}}/close">Close Auction</a>
                        {{else}}
                        No bids
                        {{/if}}
                    </div>
                    {{else}}

                    {{#if isBidder}}
                    <div>
                        You are currently the <strong>highest bidder</strong> for this auction
                    </div>
                    {{else}}
                    <form class="vertical" method="post" action="/catalog/{{_id}}/bid">
                        <label><span>Bid amount</span><input type="number" name="price"></label>
                        <input class="action" type="submit" value="Place bid">
                    </form>

                    {{/if}}

                    {{/if}}
                    {{/if}}
                </div>

            </div>
        </div>

        <footer>Listed by {{owner.firstName}} {{owner.lastName}}</footer>
    </div>

</section>
{{/with}}